* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: rgb(193, 223, 213);

}

h1{
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 2rem;
}
.gallery {
padding: 2rem;
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: ;

}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.gallery1 {
    padding: 1rem;
    border: solid 2px black;
    margin: 3px;
}