* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: rgb(193, 223, 213);

}

h1{
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 2rem;
}
.gallery {
padding: 2rem;
display: flex;
flex-wrap: wrap;

}

.img {
    padding: 1rem;
}